* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;    
  min-height: 100vh;          
  padding: 20px
}

h1 {
  background: #481f4a;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px 0;
  width: 600px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 20px;
  background: #e8e8e8;
  box-shadow: none;
  border: 1px solid #ccc;
  border-top: none;
}

label:not(.rating label):not([for^="feature"]), legend {
  font-weight: bold;
  margin-top: 10px;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]), 
select, 
textarea {
  padding: 8px;
  border: 1px solid #aaa; 
  font-size: 1em;
  background-color: #fff;
  border-radius: 0; 
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background: #e0e0e0;
  color: #481f4a;;
  border: 1px solid #aaa;;
  cursor: pointer;
  font-size: 1em;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 0;
  justify-self: center;
}

input[type="submit"]:hover {
    background: #d0d0d0; 
}

fieldset {
  border: none;
  margin-top: 10px;
  padding: 0;
}

fieldset:not(.rating) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

fieldset:not(.rating) > div {
  display: flex;
  align-items: center;
}

fieldset:not(.rating) input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 8px;
}

fieldset:not(.rating) label {
  margin-top: 0;
  font-weight: normal; 
}

.rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
}

.rating legend {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

.rating label, 
.rating input[type="radio"] {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  width: auto; 
  height: auto;
  padding: 0;
  margin: 0;
}

.rating input[type="radio"] {
  appearance: radio;
  height: 15px; 
  width: 15px;
  margin: 5px auto 0 auto; 
}

.rating label {
  font-size: 1.5rem; 
  color: #333; 
  cursor: pointer;
  line-height: 1;
  margin: 0 auto;
}

.rating input:checked + label {
  color: #481f4a;
  font-weight: bold;
}

.rating label:hover {
  color: #FFD700; 
  font-weight: bold;
}

.rating input:checked + label {
  color: #FFD700;
  font-weight: bold;
}

footer {
  background: #481f4a;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
  width: 600px;
}

@media (max-width: 600px) {
    .container, h1, footer {
  width: 100%;
  max-width: 100%;
 }
    form {
        grid-template-columns: 1fr;
    }
}